*, *:before, *:after {
	box-sizing: border-box;
}

* {
	padding: 0;
	margin: 0;
}

body {
	background: black;
	color: white;
	font-family: 'Times New Roman', serif;
}

h1 {
	font-weight: normal;
	font-style: italic;
	font-size: 3rem;
	letter-spacing: 0.3rem;
	word-spacing: 0.5rem;
	text-shadow: 2px 2px 0px #999;
}

a {
	color: yellow;
}

a:visited {
	color: orange;
}

@keyframes links_animation {
	from {
		background: #444;
		border-color: #fff;
	}
	to {
		background: #666;
		border-color: #000;
	}
}

@keyframes center_animation {
	from {
		background: #666;
	}
	to {
		background: #444;
	}
}

@keyframes center_link_animation {
	from {
		transform: translateY(0.25rem);
	}

	to {
		transform: translateY(-0.25rem);
	}
}

.wow-root {
	border: 1px white groove;
	display: table;
}

.wow-prev,
.wow-center,
.wow-next {
	padding: 1rem 2rem;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.wow-prev, .wow-next {
	background: #444;
	animation-name: links_animation;
	border: 1px solid white;
}

.wow-center {
	background: #666;
	animation-name: center_animation;
}

.wow-center p {
	animation-name: center_link_animation;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: cubic-bezier(0.58,0.44,0.4,0.46);
}
